@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #25262A;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
}

.content h5{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    display: none;
}

.content h5 span{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.content iframe{
    width: 428px;
    height: 624px;
    border-radius: 9px;
    border: none;
    outline: none;
}

.content p{
    font-size: 11px;
    color: #A7AAB0;
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
}

/*  */
.button-group{
    margin: 0 0 0 20px;
}

.button-group .btn{
    background-color: #16151A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 16px;
}

.button-group .btn:hover{
    box-shadow: 0px 0px 15px rgba(232, 232, 232, 0.25);
}

.btn-download{
    margin: 0 0 15px 0;
}

.icon-size{
    width: 30px;
    height: 30px;
}


@media only screen and (max-width: 600px) {
    body{
        height: auto;
    }

    .main{
        flex-direction: column;
        margin: 0 0 20px 0;
    }

    .content{
        margin: 0 auto;
    }

    .content h5{
        display:block;
    }

    .content iframe{
        width: 316.43px;
        height: 461.34px;
    }

    .button-group{
        display: flex;
        margin: 0 auto;
        flex-direction: row-reverse;
    }

    .button-group .btn-download{
        margin: 0 0 0 20px;
    }
}